@page "/exam-new"

@using Ects.Web.Shared.QuestionTypes.Abstractions
@using Ects.Persistence.Models

@inject NavigationManager NavigationManager
@inject IEnumerable<IQuestionType> QuestionTypes

<style>
    .container {
        margin: auto;
        width: 70%;
        padding: 10px;
    }
</style>

<div class="container">
    <h1>Create Exam</h1>
    <h6>Fill all fields to create exam</h6>
    <br />

    <EditForm EditContext="@editContext" OnValidSubmit="HandleValidSubmit">
        <div class="form-group">
            <label>Choose namespace</label>
            <InputSelect @bind-Value="_namespaceId" class="form-control">
                @foreach (var member in FakeRepository.Namespaces)
                {
                    <option value="@member.Id">@member.Name</option>
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label>Choose test</label>
            <InputSelect @bind-Value="_testId" class="form-control">
                @foreach (var member in FakeRepository.Tests.Where(_ => _.NamespaceId == _namespaceId))
                {
                    <option value="@member.Id">@member.Name</option>
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label>Add name</label>
            <InputText @bind-Value="_name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Add description</label>
            <InputText @bind-Value="_description" class="form-control" />
        </div>

        <div class="form-group">
            <label>Add start date and time</label>
            <row>
                <div>
                    <InputDate @bind-Value="_startDate" class="form-control pr-1" style="width: 50%" />
                </div>
                <div>
                    <input type="time" @bind="_startTime" @bind:format="HH:mm" style="width: 50%" class="form-control pl-1" />
                </div>
            </row>
        </div>

        <div class="form-group">
            <label>Add finish date and time</label>
            <row>
                <InputDate @bind-Value="_endDate" class="form-control pr-1" style="width: 50%" />
                <input type="time" @bind="_finishTime" @bind:format="HH:mm" style="width: 50%" class="form-control pl-1" />
            </row>
        </div>

        <div class="form-group">
            <label>Add max duration</label>
            <InputNumber @bind-Value="_durationInMinutes" class="form-control" />
        </div>

        <div class="form-group">
            <label>Assign all</label>
            <InputCheckbox @bind-Value="_allAssigned" class="form-check-inline" />
        </div>

        @if (!string.IsNullOrEmpty(_error))
        {
            <div class="alert alert-danger mt-3 mb-0">@_error</div>
        }

        <button class="btn btn-primary" type="submit">
            @if (_loading)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Create
        </button>
        <button class="btn btn-primary" type="button" @onclick="CancelClick">Cancel</button>
    </EditForm>
</div>

@code
{
    // fake model
    private EditContext editContext = new EditContext(new Exam());

    private long _namespaceId;

    private long _testId;

    private string _name;

    private string _description;

    private DateTime _startDate;

    private DateTime _endDate;

    private long _durationInMinutes;

    private bool _allAssigned = true;

    private DateTime _startTime;

    private DateTime _finishTime;

    private bool _loading = false;

    private string _error = null;

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task HandleValidSubmit()
    {
        _loading = true;

        try
        {
            FakeRepository.Exams.Add(
                new Persistence.Models.Exam()
                {
                    Id = FakeRepository.Exams.Count,
                    StartAvailabilityTime = _startDate.Add(new TimeSpan(_startTime.Ticks)),
                    EndAvailabilityTime = _endDate.Add(new TimeSpan(_finishTime.Ticks)),
                    Name = _name,
                    Description = _description,
                    ChangedAtUtc = null,
                    ChangedBy = null,
                    CreatedAtUtc = DateTime.Now,
                    CreatedBy = 0,
                    IsActive = true,
                    MaxDurationInMinutes = _durationInMinutes,
                    TestId = _testId,
                });

            foreach (var participant in FakeRepository.Accounts)
                FakeRepository.ExamParticipants.Add(
                    new ExamParticipant
                    {
                        Id = FakeRepository.ExamParticipants.Count,
                        AccountId = participant.Id,
                        ExamId = FakeRepository.Exams.Count - 1,
                        StartTime = null,
                        EndTime = null,
                        MaxResult = null,
                        Result = null,
                    });

            NavigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            _error = ex.Message;
            _loading = false;
            StateHasChanged();
        }
    }

    private void CancelClick()
    {
        NavigationManager.NavigateTo("");
    }
}
